* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #bd2121;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#carousel-images img {
    max-width: none;
    max-height: 500px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #e75151;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.lista-produtos li {
    list-style: none;
    max-width: 100%;
    margin-bottom: 24px;
}

.lista-produtos img {
    max-width: 100%;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 8px 0;
    border: none;
    background-color: #005b97;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (max-width: 640px) {
    .container {
        display: block;
        max-width: 90%;
    }

    #sobre-a-loja img {
        max-width: 100%;
        padding-bottom: 8px;
    }
    
    .lista-produtos {
        display: block;
        grid-template-columns: repeat(4, 24.25%);
        column-gap: 1%;
        row-gap: 5%;
    }

    header > .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
    }
}

@media screen and (min-width:640px) and (max-width: 1023px) {
    .container {
        display: block;
        max-width: 90%;
        font-size: 1.5em;
    }

    #sobre-a-loja img {
        max-width: 100%;
        padding-bottom: 8px;
    }

    .lista-produtos {
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        row-gap: 5%;
    }
    header > .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
    }
}